[user]
# git config -f ~/.gitconfig.local user.name John Due
# git config -f ~/.gitconfig.local user.email me@example.com

[include]
	path = ~/.gitconfig.local

[color]
	ui = auto
[core]
	excludesfile = ~/.gitignore_global
	pager = less -FX
	editor = vim
[alias]
	a = add
	ap = add --patch
	au = add -u
	b = branch
	bas = "!f(){ git branch --contains=${1-HEAD} | tr -d \\*\\+ | xargs git show-branch $2; }; f"
	c = commit
	cm = commit -m
	co = checkout
	cp = cherry-pick
	d = diff
	dc = diff --cached
	dcw = diff --cached --color-words
	dcww = diff --cached --color-words='[A-Za-z0-9_]+|.'
	dw = diff --color-words
	dww = diff --color-words='[A-Za-z0-9_]+|.'
	ff = merge --ff-only
	gb = "!f(){ git branch | grep $1 | tr -d \\*\\+ | xargs git show-branch; }; f"
	ls = log --oneline
	sb = show-branch
	st = status
	which-remote = rev-parse --abbrev-ref --symbolic-full-name @{u}
[diff "gpg"]
	textconv = gpg --no-tty --decrypt
[init]
	# As of 2.28 default branch name must be specified
	defaultBranch = master
[pull]
	# For git 2.27+, specify let pull always resolve with rebase
	rebase = true
