[user]
# git config -f ~/.gitconfig.local user.name John Due
# git config -f ~/.gitconfig.local user.email me@example.com

[include]
	path = ~/.gitconfig.local

[color]
	ui = auto
[core]
	excludesfile = ~/.gitignore_global
	pager = less -FX
[alias]
	a = add
	ap = add --patch
	au = add -u
	b = branch
	c = commit
	cm = commit -m
	co = checkout
	d = diff
	dc = diff --cached
	ff = merge --ff-only
	sb = show-branch
	st = status
