[user]
# git config -f ~/.gitconfig.local user.name John Due
# git config -f ~/.gitconfig.local user.email me@example.com

[include]
	path = ~/.gitconfig.local

[color]
	ui = auto
[core]
	excludesfile = ~/.gitignore_global
[alias]
	co = checkout
	dc = diff --cached
	ff = merge --ff-only
	sb = show-branch
	st = status
